{% extends 'base.html' %}
{% block extra_head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-sortable.css')}}">
{% endblock %}
{% block content %}
<div class="xs-col-12">

<h1>
    <a href="{{url_for('root_explore', root_id=root.id)}}">{{ root.name }}</a>{% if view_object %}:
{{view_object.path}}/{{ view_object.filename }}{%endif%}
</h1>

<table id="file_listing" class="table sortable">
<colgroup>
    <col width="8*">
    <col width="1*">
    <col width="1*">
    <col width="1*">
    <col width="1*">
</colgroup>
<thead>
    <tr><th>Filename</th><th>Type</th><th>Size</th><th>Modified</th><th>Visibility</th></tr>
</thead>
<tbody>
    {% for object in listing_objects %}
    {% if object.type == 'file' %}
    <tr><td><a href="{{ url_for('view_object', object_id=object.id) }}"><i class="fa fa-file">&nbsp;</i> {{object.filename}}</a></td><td>unknown document</td><td>{{object.get_filesize(True)}}</td><td>Long Ago</td><td>{{object.get_visibility()}}</td></tr>
    {% elif object.type == 'directory' %}
    <tr><td colspan="4"><a href="{{url_for('view_object', object_id=object.id)}}"><i class="fa fa-folder">&nbsp;</i> {{object.filename}}</a></td></tr>
    {%endif%}
    {% endfor %}
</tbody>
</table>

</div>
{%endblock%}
{%block extra_js %}
<script src="{{url_for('static', filename='js/moment.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap-sortable.js')}}">
$.bootstrapSortable();
</script>
{% endblock %}
